
$primary: #4babe7;
$navbar-dark-hover-color: #fff;
$navbar-dark-color: #fff;
$card-border-radius: 8px;
$dark: #191919;
$light: #F0F2F5;
$success: #3CB27F;
$warning: #FEC25C;
$danger: #F44E56;
$grid-gutter-width: 32px;
$h1-font-size: 4rem;
$h2-font-size: 3rem;
$h3-font-size: 3rem;
$h4-font-size: 2.5rem;
$line-height-base: 1.4;
$input-btn-padding-x: 1rem;

$btn-padding-x: 2rem;
$input-btn-padding-y: .75rem;
$input-btn-focus-width: 0;
$btn-padding-y: 1rem;
$btn-border-radius: 4rem;
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
$rounded-pill: 0;
$btn-line-height: 0.9;
$input-bg: #F0F2F5;
$input-border-color: #F0F2F5;
$input-box-shadow: none;
$form-text-margin-top: 0;
$input-placeholder-color: #6A6A6A;
$input-border-width: 0;
$enable-validation-icons: false;
$enable-print-styles: false;
$enable-pointer-cursor-for-buttons: false;
$enable-hover-media-query: true;
$card-border-width: 0;
$dropdown-min-width: 15.5rem;
$dropdown-spacer: 0;
$dropdown-padding-y: 8px;
$dropdown-border-width: 0;
$dropdown-box-shadow: 0px 4px 16px rgba(47, 78, 98, 0.1);;
$enable-shadows: true;
$dropdown-border-radius: 2px;
$dropdown-inner-border-radius: 2px;
$dropdown-link-hover-bg: #F0F2F5;
$dropdown-item-padding-y: 10px;
$dropdown-item-padding-x: 8px;
$btn-box-shadow: none;
$btn-focus-box-shadow: none;
$btn-active-box-shadow: none;
$font-family-base: 'DM Sans', sans-serif;